html {
  font-size: 62.5%;
}

body {
margin: 0;
background-color: #4c3575;
color: white;
}

.app-container {
  font-size: 2.5rem;
}

.list-interests {
  padding: 3rem;
  margin:1rem;
}

.item-container {
  border: solid 1px white;
  padding-left: 3rem;
}
